@use "../variables.scss" as *;

.advantages__title {
  padding-top: 32px;
  padding-bottom: 35px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
}

.advantages__description {
  padding-bottom: 16px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $gray;
}

.advantages__list {
  margin: 0;
  padding: 0;
  counter-reset: list1;
  list-style-type: none;
}

.advantages__container {
  display: grid;
  grid-template-columns: 320px;
  padding: 33px 18px 40px;
  color: $white;
  background-color: $blue;

  &::before {
    counter-increment: list1;
    content: counter(list1) ". ";
    justify-self: center;
    margin-top: 11px;
    margin-bottom: 17px;
    width: 0;
    height: 0;
  }
}

.advantages__card-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  order: -1;
  text-transform: uppercase;
}

.advantages__card-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.advantages__container--devil {
  display: grid;
  grid-template-columns: 320px;
  padding: 37px 18px;
  color: $white;
  background-color: $blue;

  &::before {
    counter-increment: list1;
    content: counter(list1) ". ";
    justify-self: center;
    margin-top: 11px;
    margin-bottom: 17px;
    width: 0;
    height: 0;
  }
}
