@use "../variables.scss" as *;

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__wrapper {
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 0.86;
  }
}

.catalog__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $dark-gray;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    br {
      display: block;
    }
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 62px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr min-content;
    margin: 0;

    &:nth-child(1) {
      grid-column: 1/-1;
    }
  }
}

.catalog__card-image {
  display: block;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin-bottom: 22px;
  }
}

.catalog__card-title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $black;
}

.catalog__card-description {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $dark-gray;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    margin: 0;
  }
}

.catalog__likes-button {
  width: 70px;

  @media (min-width: $tablet-width) {
    grid-area: 2/2/4/3;
    align-self: center;
    margin: 0;
  }
}

.catalog__likes {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: $black;
}
