@use "../variables.scss" as *;

.catalog__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  text-transform: uppercase;
}

.catalog__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $gray;
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog__card-title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $black;
}

.catalog__card-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $gray;
}

.catalog__likes {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: $black;
}
