@use "../variables.scss" as *;

.client-info-list {
  &--introduce {
    @media (min-width: $tablet-width) {
      padding-right: 44px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 50px;
    }
  }

  &--contact-information {
    @media (min-width: $tablet-width) {
      padding-left: 42px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 78px;
    }
  }
}

.client-info-list__item {
  margin-bottom: 16px;
}

.client-info-list__control {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.client-info-list__control--phone::after {
  content: "";
  background: $gray-90 url("../img/sprite.svg#phone") no-repeat center/18px;
  width: 58px;
  height: 58px;
  padding: 0;
  border: none;
}

.client-info-list__control--mail::after {
  content: "";
  background: $gray-90 url("../img/sprite.svg#letter") no-repeat center/18px;
  width: 58px;
  height: 58px;
  padding: 0;
  border: none;
}

.client-info-list__label {
  margin-left: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $dark-gray;
  text-transform: uppercase;
}

.client-info-list__input {
  box-sizing: border-box;
  grid-column: 1/2;
  padding: 19px 0 16px 16px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4px;
  border: none;
  background-color: $light-gray;
  color: $black;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }

  &:hover {
    background-color: $light-gray-90;
  }

  &:active,
  &:focus-visible {
    background-color: $white;
    outline: 4px solid $light-gray-90;
    outline-offset: -4px;
  }
}
