@use "../global/variables.scss" as *;

.client-info-list__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $gray;
  text-transform: uppercase;
}

.client-info-list__input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4px;
  color: $black;
}

.client-info-list__opinion {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
}

.client-info-list__attraction {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
}
