@use "../variables.scss" as *;

.footer__copyright::after {
  content: "";
  mask: url("../img/sprite/htmlacademy.svg") center no-repeat;
  background-color: $black;
  width: 27px;
  height: 34px;
}

.copyright {
  text-decoration: none;
  color: $black;

  &:hover {
    &::after {
      background-color: $blue;
    }
  }

  &:active {
    &::after {
      background-color: $gray-70;
    }
  }
}

.copyright__text {
  margin-right: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;

  &:hover {
    color: $blue;
  }

  &:active {
    color: $gray-70;
  }
}
