@use "../variables.scss" as *;

.copyright {
  text-decoration: none;
  color: $black;

  &:hover .copyright__text,
  &:hover .copyright__icon {
    color: $blue;
  }

  &:active .copyright__text,
  &:active .copyright__icon {
    color: $gray-70;
  }
}

.copyright__text {
  margin-right: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
}

.copyright__icon {
  display: block;
}
