@use "../variables.scss" as *;

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 320px;
  margin: 0 auto;
  padding-top: 29px;
  text-align: center;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0;
    min-height: 120px;

    @media (min-width: $desktop-width) {
      width: $desktop-width;
    }
  }

  &--catalog {
    padding-top: 15px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
}

.footer__link {
  grid-column: 1/-1;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 26px;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column: 1/-1;
  gap: 6px;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    padding: 0;
  }
}

.footer__copyright {
  display: flex;
  justify-self: center;
  align-items: center;
  align-self: center;
  grid-column: 1/-1;
  margin: 0;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    grid-column: 3/4;
    padding: 0;
    margin-right: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      margin: 0;
      margin-left: 8px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 30px;
    }
  }
}
