.footer__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__copyright {
  margin: 0;
}
