@use "../variables.scss" as *;

.form {
  display: grid;
  grid-template-columns: 1fr;


  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 88px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 128px;
  }
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;

  @media (min-width: $tablet-width) {
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      grid-column: 1/-1;
    }
  }
}

.form__legend {
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 1.23;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__wishes-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.3);
}

.form__button {
  padding: 16px 49px;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  background-color: #81b3d2;
  border: none;
  color: $white;
  text-transform: uppercase;
}
