@use "../variables.scss" as *;

.form {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 103px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
  }
}

.form__fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 320px;
    border-top: 1px solid $light-gray-90;
    transform: translate(-50%, 0);

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &--impression,
  &--attraction,
  &--emotions {
    @media (min-width: $tablet-width) {
      grid-column: 1/-1;
    }
  }

  &--introduce {
    padding-bottom: 24px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &--contact-information {
    padding-bottom: 18px;

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        left: 0;
        width: 1px;
        height: calc(100% + 53px);
        background-color: #dbdbdb;
      }

      @media (min-width: $desktop-width) {
        left: 13px;
      }
    }
  }

  &--impression {
    padding-bottom: 8px;

    @media (min-width: $tablet-width) {
      margin-top: 46px;
      padding-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 55px;
      padding-bottom: 56px;
    }
  }

  &--attraction {
    padding-bottom: 9px;

    @media (min-width: $tablet-width) {
      padding-bottom: 26px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 56px;
    }
  }

  &--emotions {
    padding-bottom: 56px;

    @media (min-width: $tablet-width) {
      padding-bottom: 48px;
    }
  }
}

.form__legend {
  position: relative;
  padding: 0;
  padding-top: 24px;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 28px;
    font-size: 21px;
    line-height: 1.23;
  }

  &--impression {
    @media (min-width: $tablet-width) {
      width: 400px;
    }

    &::before {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        right: 100%;
        top: 50%;
        width: 123px;
        height: 1px;
        background-color: $gray-86;
      }

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        width: 123px;
        height: 1px;
        background-color: $gray-86;
      }

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }
  }

  &--attraction {
    @media (min-width: $tablet-width) {
      width: 400px;
    }

    &::before {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        width: 123px;
        height: 1px;
        background-color: $gray-86;
      }

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        width: 123px;
        height: 1px;
        background-color: $gray-86;
      }

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }
  }

  &--emotions {
    @media (min-width: $tablet-width) {
      width: 400px;
    }

    &::before {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        width: 123px;
        height: 1px;
        background-color: $gray-86;
      }

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        width: 123px;
        height: 1px;
        background-color: $gray-86;
      }

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__textarea {
  display: block;
  width: 280px;
  min-height: 150px;
  padding: 12px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  background-color: $light-gray;
  border: 4px solid transparent;
  outline: none;
  color: $black;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }

  &:hover {
    background-color: $light-gray-90;
  }

  &:active,
  &:focus-visible {
    background-color: $white;
    border: 4px solid $light-gray-90;
  }

  @media (min-width: $tablet-width) {
    min-height: 160px;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.form__button {
  padding: 16px 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  background-color: #81b3d2;
  border: none;
  color: $white;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    width: 384px;
    margin-left: 97px;
  }
}

.form__text {
  margin: 0;
  margin-bottom: 24px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 22px;
    font-size: 14px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    margin-right: 97px;
  }
}
