.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__legend {
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__wishes-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.3);
}

.form__button {
  padding: 16px 49px;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}
