@use "../global/variables.scss" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: $white;
}

.header__logo {
  position: relative;
  height: 56px;
  margin-bottom: 10px;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .header {
    display: grid;
    grid-template-columns: 1fr;

    &__logo {
      justify-self: center;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    display: grid;
    grid-template-columns: 1fr;

    &__logo {
      justify-self: center;
    }
  }
}
