@use "../variables.scss" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
}

.header__logo {
  position: relative;
  margin-bottom: -15px;
  z-index: 1;
}
