@use "../variables.scss" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr;
    width: $desktop-width;
  }
}

.header__logo {
  position: relative;
  margin-bottom: -44px;
  justify-self: center;
  z-index: 1;

  @media (min-width: $tablet-width) {
    grid-area: 1/1/2/2;
  }
}

