@use "../global/variables.scss" as *;

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
}

.nav__toggle {
  position: absolute;
}

.nav__list {
  width: 320px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .nav__list {
    display: flex;
    justify-content: space-around;
    width: $tablet-width;
  }

  .nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .nav__list {
    display: flex;
    justify-content: space-around;
    width: $desktop-width;
  }
}
