.presentaion__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
}

.presentaion__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}
