@use "../variables.scss" as *;

.reasons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 23px 18px 46px;
  list-style-type: none;
  color: $black;
}

.reasons__card-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  text-transform: uppercase;
}

.reasons__card-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $gray;
  text-transform: uppercase;
}
