@use "../variables.scss" as *;

.reasons {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 23px 18px 46px;
  row-gap: 25px;
  list-style-type: none;
  color: $black;
  background-color: $light-gray;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: 2/1/3/4;
  }
}

.reasons__item {
  display: grid;
  grid-template-columns: 47px 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

.reasons__item--housing {
  background: url("../../img/hotels.svg") no-repeat left 0;

  @media (min-width: $tablet-width) {
    padding: 158px 33px 60px;
    background-size: 77px 72px;
    background-position: center 60px;
  }
}

.reasons__item--food {
  background: url("../../img/food.svg") no-repeat left 0;

  @media (min-width: $tablet-width) {
    padding: 156px 33px 61px;
    background-size: 80px 68px;
    background-position: center 62px;
  }
}

.reasons__item--souvenir {
  background: url("../../img/souvenirs.svg") no-repeat left 0;

  @media (min-width: $tablet-width) {
    padding: 153px 33px 64px;
    background-size: 66px 75px;
    background-position: center 64px;
  }
}

.reasons__card-title {
  grid-area: 1/2/2/3;
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  text-transform: uppercase;
}

.reasons__card-description {
  grid-area: 2/2/3/3;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $dark-gray;
  text-transform: uppercase;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: center;

    br {
      display: block;
    }
  }
}
