@use "../variables.scss" as *;

.review__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  text-transform: uppercase;
}

.review__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $gray;
  text-transform: uppercase;
}
