@use "../variables.scss" as *;

.review {
  padding: 36px 20px 21px;

  @media (min-width: $tablet-width) {
    padding: 65px 60px 64px;
  }

  @media (min-width: $desktop-width) {
    padding: 113px 120px 63px;
  }
}

.review__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 0.86;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.review__description {
  position: relative;
  margin: 0;
  padding-bottom: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $dark-gray;
  text-transform: uppercase;
  text-align: center;

  br {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 320px;
    border-top: 1px solid $light-gray-90;
    transform: translate(-50%, 0);

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    line-height: 1.7;
    padding: 0;

    br {
      display: block;
    }
  }
}
