@use "../variables.scss" as *;

.review-list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;

    &--impression {
      padding: 0 36px;
    }

    &--attraction {
      column-gap: 32px;
      padding: 0 84px;
    }
  }


  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 17px 29px;

    &--attraction {
      padding: 32px 29px;
    }
  }
}

.review-list__item {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.review-list__control {
  display: grid;
  position: relative;
  grid-template-columns: min-content 1fr;
}

.review-list__text {
  grid-column: 2/3;
  padding: 10px 0;
  margin-left: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
}

.review-list__control-mark {
  display: flex;
  grid-area: 1/1/2/2;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: $light-gray;
  cursor: pointer;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    width: 46px;
    height: 46px;
    background-color: $light-gray;
    border-radius: 4px;
  }

  &:hover {
    background-color: $light-gray-90;
  }

  &:active {
    background-color: $gray-84;
    outline: none;

    &::after {
      opacity: 0.3;
    }
  }
}

.review-list__input[type="radio"]:checked + .review-list__control-mark::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $dark-gray;
}

.review-list__input[type="checkbox"]:checked + .review-list__control-mark--checkbox::after {
  content: "";
  width: 22px;
  height: 16px;
  background: url("../img/sprite.svg#check") no-repeat center;
}

.review-list__input[type="radio"]:focus + .review-list__control-mark,
.review-list__input[type="checkbox"]:focus + .review-list__control-mark {
  background-color: $white;
  outline: 4px solid $light-gray-90;
  outline-offset: -4px;
}
