@use "../variables.scss" as *;

.review-list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.review-list__item:not(:last-child) {
  margin-bottom: 16px;
}

.review-list__control {
  display: grid;
  position: relative;
  grid-template-columns: min-content 1fr;
}

.review-list__text {
  grid-column: 2/3;
  padding: 10px 0;
  margin-left: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
}

.review-list__control-mark {
  display: flex;
  grid-area: 1/1/2/2;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: $light-gray;
  border-radius: 50%;

  &:hover {
    background-color: $light-gray-90;
  }

  &:active {
    background-color: $gray-84;
  }
}

.review-list__control-mark--checkbox {
  width: 46px;
  height: 46px;
  background-color: $light-gray;
  border-radius: 4px;
}

.review-list__input[type="radio"]:checked + .review-list__control-mark::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $dark-gray;
}

.review-list__input[type="checkbox"]:checked + .review-list__control-mark--checkbox::after {
  content: "";
  width: 22px;
  height: 16px;
  background: url("../img/check.svg") no-repeat center;
}
