@use "../variables.scss" as *;

.search {
  background-color: $white;
}

.search__wrapper {
  padding: 38px 29px 32px;
  text-align: center;
}

.search__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  color: $black;
}

.search__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $dark-gray;
}

.search__button {
  display: block;
  padding: 16px 49px;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  background-color: $blue;
}
