.search__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
}

.search__description {
  margin: 0;
  text-transform: uppercase;
  color: #333333;
}

.search__button {
  display: block;
  padding: 16px 49px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
}
