@use "../variables.scss" as *;

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.search__title {
  padding-top: 42px;
  padding-bottom: 21px;
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-bottom: 33px;
    font-size: 30px;
    line-height: 0.86;
  }
}

.search__description {
  padding: 0 18px 32px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: $dark-gray;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 45px;
  }
}

.search__button {
  display: block;
  padding: 16px 49px;
  margin-bottom: 49px;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  background-color: $blue;

  &:hover {
    background-color: $blue-58;
  }

  &:active {
    background-color: $blue-54;
  }

  &:disabled {
    background-color: $light-gray-90;
  }

  @media (min-width: $tablet-width) {
    width: 458px;
    margin-bottom: 58px;
    box-sizing: border-box;
    padding: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}
