@use "../variables.scss" as *;

.site-list__item {
  background-color: $blue;
}

.site-list__item-link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
}
