.site-list__item {
  background-color: #81b3d2;
}

.site-list__item-link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
