@use "../variables.scss" as *;

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;

  &:hover {
    background-color: $blue-58;
  }

  &:active {
    background-color: $blue-54;

    &::after {
      opacity: 0.3;
    }
  }
}

.social__link--vkontakte::after {
  content: "";
  mask: url("../img/sprite/vk.svg") center no-repeat;
  width: 24px;
  height: 14px;
  background-color: $white;
}

.social__link--telegram::after {
  content: "";
  mask: url("../img/sprite/tg.svg") center no-repeat;
  width: 22px;
  height: 18px;
  background-color: $white;
}

.social__link--youtube::after {
  content: "";
  mask: url("../img/sprite/youtube.svg") center no-repeat;
  width: 20px;
  height: 14px;
  background-color: $white;
}
