@use "../variables.scss" as *;

.welcome {
  padding: 90px 19px 85px;
  background: url("../img/sprite/welcome-spacebar.svg") bottom/ 100% 57px no-repeat, url("../img/index/welcome-image.jpg") center/ cover;
  background-color: $blue-40;

  @media (min-resolution: 2dppx) {
    background: url("../img/sprite/welcome-spacebar.svg") bottom/ 100% 57px no-repeat, url("../img/index/welcome-image@2x.jpg") center/ cover;
  }

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-bottom: 91px;
    background: url("../img/sprite/welcome-spacebar.svg") bottom/ 100% 57px no-repeat, url("../img/index/welcome-image-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background: url("../img/sprite/welcome-spacebar.svg") bottom/ 100% 57px no-repeat, url("../img/index/welcome-image-tablet@2x.jpg") center/ cover;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
    padding-bottom: 90px;
    background: url("../img/sprite/welcome-spacebar.svg") bottom/ 100% 57px no-repeat, url("../img/index/welcome-image-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background: url("../img/sprite/welcome-spacebar.svg") bottom/ 100% 57px no-repeat, url("../img/index/welcome-image-desktop@2x.jpg") center/ cover;
    }
  }
}

.welcome__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 350px;
  }
}

.welcome__image--catalog {
  @media (min-width: $tablet-width) {
    width: 457px;
    height: 77px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    height: 80px;
  }
}

.welcome--catalog {
  padding: 52px 46px 67px;
  background: url("../img/sprite/welcome-spacebar.svg") bottom/ 100% 57px no-repeat, url("../img/catalog/welcome-image-catalog.jpg") center -56px/ cover;
  background-color: $blue-40;

  @media (min-resolution: 2dppx) {
    background: url("../img/sprite/welcome-spacebar.svg") bottom/ 100% 57px no-repeat, url("../img/catalog/welcome-image-catalog@2x.jpg") center -56px/ cover;
  }

  @media (min-width: $tablet-width) {
    padding-top: 95px;
    padding-bottom: 117px;
    background: url("../img/sprite/welcome-spacebar.svg") bottom/ 100% 57px no-repeat, url("../img/catalog/welcome-image-catalog-tablet.jpg") center -56px/ cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/sprite/welcome-spacebar.svg") bottom/ 100% 57px no-repeat, url("../catalog/img/welcome-image-catalog-tablet@2x.jpg") center -56px/ cover;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
    padding-bottom: 120px;
    background: url("../img/sprite/welcome-spacebar.svg") bottom/ 100% 57px no-repeat, url("../img/catalog/welcome-image-catalog-desktop.jpg") center -56px/ cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/sprite/welcome-spacebar.svg") bottom/ 100% 57px no-repeat, url("../catalog/img/welcome-image-catalog-desktop@2x.jpg") center -56px/ cover;
    }
  }
}
