@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2");
}
.page__body {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 100%;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
}

.page__container {
  width: 320px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.header__logo {
  position: relative;
  margin-bottom: -15px;
  z-index: 1;
}

.nav {
  width: 100%;
}

.nav__toggle {
  position: absolute;
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__title {
  padding-top: 32px;
  padding-bottom: 35px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
}

.advantages__description {
  padding-bottom: 16px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}

.advantages__list {
  margin: 0;
  padding: 0;
  counter-reset: list1;
  list-style-type: none;
}

.advantages__container {
  display: grid;
  grid-template-columns: 320px;
  padding: 33px 18px 40px;
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages__container::before {
  counter-increment: list1;
  content: counter(list1) ". ";
  justify-self: center;
  margin-top: 11px;
  margin-bottom: 17px;
  width: 0;
  height: 0;
}

.advantages__card-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  order: -1;
  text-transform: uppercase;
}

.advantages__card-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.advantages__container--devil {
  display: grid;
  grid-template-columns: 320px;
  padding: 37px 18px;
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages__container--devil::before {
  counter-increment: list1;
  content: counter(list1) ". ";
  justify-self: center;
  margin-top: 11px;
  margin-bottom: 17px;
  width: 0;
  height: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
}

.search__description {
  margin: 0;
  text-transform: uppercase;
  color: #333333;
}

.search__button {
  display: block;
  padding: 16px 49px;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
}

.footer__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__copyright {
  margin: 0;
}

.catalog__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
}

.catalog__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #333333;
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog__card-title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #000000;
}

.catalog__card-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}

.catalog__likes {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}

.presentaion__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
}

.presentaion__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}

.review__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
}

.review__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}

.site-list__item {
  background-color: #81b3d2;
}

.site-list__item-link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.copyright__text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__legend {
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__wishes-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.3);
}

.form__button {
  padding: 16px 49px;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}

.client-info-list__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}

.client-info-list__input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4px;
  color: #000000;
}

.client-info-list__opinion {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
}

.client-info-list__attraction {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
}

.reasons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 23px 18px 46px;
  list-style-type: none;
  color: #000000;
}

.reasons__card-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
}

.reasons__card-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */