@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2");
}
img {
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  width: 100%;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
}

.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .header {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .header {
    width: 1200px;
  }
}

.header__logo {
  position: absolute;
  grid-area: 1/1/2/2;
  justify-self: center;
  z-index: 1;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: 1/1/2/2;
  width: 100%;
  min-height: 56px;
}

.nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 62px;
  height: 56px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  background: url("../img/opened-button.svg") no-repeat center;
  top: 17px;
  left: 20px;
  width: 23px;
  height: 22px;
}

.nav--closed .nav__toggle:hover::before {
  opacity: 0.6;
}

.nav--closed .nav__toggle:active::before {
  opacity: 0.3;
}

@media (max-width: 767px) {
  .nav--closed .nav__item {
    display: none;
  }
}

.nav--opened .nav__list {
  position: absolute;
  z-index: 1;
}

.nav--opened .nav__list::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
@media (min-width: 768px) {
  .nav--opened .nav__list::after {
    background: none;
  }
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav--nojs .nav__list {
  position: static;
  z-index: 1;
  min-height: 0;
}

.nav--nojs .nav__item {
  display: block;
}

.nav--opened .nav__toggle::before {
  position: absolute;
  content: "";
  background: url("../img/closed-button.svg") no-repeat center;
  top: 15px;
  left: 18px;
  width: 27px;
  height: 27px;
}

.nav--opened .nav__toggle:hover::before {
  opacity: 0.6;
}

.nav--opened .nav__toggle:active::before {
  opacity: 0.3;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .nav__list {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .nav__list {
    width: 1200px;
  }
}

.nav__item {
  background-color: #81b3d2;
}
@media (max-width: 767px) {
  .nav__item:hover {
    background-color: #669ec0;
  }
  .nav__item:active {
    background-color: #5496bd;
  }
}
@media (min-width: 768px) {
  .nav__item {
    background-color: #ffffff;
  }
  .nav__item:nth-child(3n+3) {
    margin-left: auto;
  }
}

.nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}
@media (min-width: 768px) {
  .nav__link {
    width: 153px;
    padding-top: 18px;
    padding-bottom: 17px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    border: none;
  }
  .nav__link:hover {
    color: #81b3d2;
  }
  .nav__link:active {
    color: #000000;
    opacity: 0.3;
  }
  .nav__link--active {
    color: #766357;
  }
}
@media (min-width: 1200px) {
  .nav__link {
    width: 240px;
  }
}

.advantages {
  background-color: #ffffff;
}

.advantages__main-title {
  margin: 0;
  padding: 32px 24px;
  padding-bottom: 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.advantages__main-title br {
  display: none;
}
@media (min-width: 768px) {
  .advantages__main-title {
    padding-top: 48px;
  }
  .advantages__main-title br {
    display: block;
  }
}
@media (min-width: 1200px) {
  .advantages__main-title {
    padding-top: 59px;
  }
}

.advantages__main-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .advantages__main-description br {
    display: none;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  counter-reset: list1;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  color: #000000;
  background-color: #eeeeee;
}
.advantages__item:nth-child(3), .advantages__item:nth-child(4), .advantages__item:nth-child(5) {
  padding: 24px 18px;
}
@media (min-width: 768px) {
  .advantages__item:nth-child(3), .advantages__item:nth-child(4), .advantages__item:nth-child(5) {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .advantages__item:nth-child(1), .advantages__item:nth-child(2) {
    grid-column: 1/-1;
  }
}

@media (min-width: 768px) {
  .advantages__item--town,
.advantages__item--devil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item--town {
  position: relative;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .advantages__item--town {
    padding: 0;
    margin-top: 56px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--town {
    margin-top: 44px;
  }
}
.advantages__item--town::after {
  content: "";
  position: absolute;
  background: url("../img/spacebar.svg") no-repeat center;
  top: 0;
  width: 320px;
  height: 37px;
}
@media (min-width: 768px) {
  .advantages__item--town::after {
    display: none;
  }
}

.advantages__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .advantages__container {
    min-height: 256px;
  }
}

.advantages__container--town,
.advantages__container--devil {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__container--town {
  padding: 54px 18px 40px;
}
@media (min-width: 768px) {
  .advantages__container--town {
    padding: 0;
  }
}

.advantages__container--devil {
  padding: 37px 18px;
}
@media (min-width: 768px) {
  .advantages__container--devil {
    grid-column: 3/4;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .advantages__card-container {
    grid-column: 2/4;
  }
}

.advantages__card-image {
  display: block;
}

.advantages__card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
}
.advantages__card-title br {
  display: none;
}
.advantages__card-title::after {
  counter-increment: list1;
  content: counter(list1) ". ";
  margin-top: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .advantages__card-title br {
    display: block;
  }
}

.advantages__description {
  margin: 0;
  padding: 0 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.advantages__description br {
  display: none;
}
@media (min-width: 768px) {
  .advantages__description {
    padding: 0 27px;
  }
  .advantages__description br {
    display: block;
  }
}
@media (min-width: 1200px) {
  .advantages__description {
    padding: 0 36px;
  }
}

.advantages__card-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .advantages__card-image--devil {
    grid-area: 1/1/2/3;
  }
}

.main-container {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    width: 1200px;
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.search__title {
  padding-top: 38px;
  padding-bottom: 30px;
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .search__title {
    padding-top: 61px;
    font-size: 30px;
    line-height: 0.86;
  }
}

.search__description {
  padding: 0 18px 32px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
.search__description br {
  display: none;
}
@media (min-width: 768px) {
  .search__description {
    padding-bottom: 40px;
  }
  .search__description br {
    display: block;
  }
}
@media (min-width: 1200px) {
  .search__description {
    padding-bottom: 45px;
  }
}

.search__button {
  display: block;
  padding: 16px 49px;
  margin-bottom: 49px;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
}
.search__button:hover {
  background-color: #669ec0;
}
.search__button:active {
  background-color: #5496bd;
}
.search__button:disabled {
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .search__button {
    margin-bottom: 58px;
    padding: 14px 121px 18px;
  }
}
@media (min-width: 1200px) {
  .search__button {
    margin-bottom: 66px;
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 320px;
  min-height: 233px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .footer {
    width: 768px;
    min-height: 120px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .footer {
    width: 1200px;
  }
}

.footer__link {
  grid-column: 1/-1;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .footer__link {
    grid-column: 1/2;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  grid-column: 2/3;
  column-gap: 6px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .footer__list {
    grid-column: 2/3;
  }
}

.footer__copyright {
  display: flex;
  justify-self: center;
  align-items: center;
  align-self: center;
  grid-column: 1/-1;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__copyright {
    grid-column: 3/4;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__wrapper {
  padding: 37px 20px 25px;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    padding-top: 66px;
    padding-bottom: 67px;
  }
}
@media (min-width: 1200px) {
  .catalog__wrapper {
    padding-top: 100px;
    padding-bottom: 65px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 30px;
    line-height: 0.86;
  }
}

.catalog__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #333333;
}
.catalog__description br {
  display: none;
}
@media (min-width: 768px) {
  .catalog__description br {
    display: block;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .catalog__list {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 62px;
  }
}

.catalog__item {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  padding-top: 24px;
  padding-bottom: 25px;
}
.catalog__item::before {
  content: "";
  position: absolute;
  width: 320px;
  left: 50%;
  border-top: 1px solid #e5e5e5;
  transform: translate(-50%, 0);
}
.catalog__item:last-child::after {
  content: "";
  position: absolute;
  width: 320px;
  bottom: 0;
  left: 50%;
  border-bottom: 1px solid #e5e5e5;
  transform: translate(-50%, 0);
}
@media (min-width: 768px) {
  .catalog__item {
    grid-template-columns: 1fr min-content;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  .catalog__item:nth-child(odd):not(:first-child) {
    background-color: #eaeaea;
  }
  .catalog__item:nth-child(1) {
    grid-column: 1/-1;
  }
  .catalog__item::before, .catalog__item::after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .catalog__item:first-child .catalog__card-title {
    padding-top: 22px;
    padding-left: 21px;
  }
  .catalog__item:first-child .catalog__card-description {
    padding-bottom: 15px;
    padding-left: 21px;
  }
}

.catalog__card-image {
  display: block;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .catalog__card-image {
    grid-column: 1/-1;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .catalog__card-image {
    grid-row: 1/4;
    margin: 0;
  }
}

.catalog__card-title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .catalog__card-title {
    padding-top: 22px;
    padding-left: 20px;
  }
}
@media (min-width: 1200px) {
  .catalog__card-title {
    grid-area: 2/1/3/2;
    padding-top: 17px;
    padding-left: 25px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__card-description {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}
@media (min-width: 768px) {
  .catalog__card-description {
    grid-column: 1/2;
    margin: 0;
    padding-bottom: 15px;
    padding-left: 20px;
  }
}
@media (min-width: 1200px) {
  .catalog__card-description {
    grid-area: 3/1/4/2;
    padding-bottom: 17px;
    padding-left: 25px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__likes-button {
  display: flex;
  padding: 0;
  align-items: baseline;
  width: auto;
  border: none;
  background-color: transparent;
}
.catalog__likes-button::before {
  content: "";
  display: block;
  -webkit-mask: url("../img/likes-button.svg") no-repeat center;
          mask: url("../img/likes-button.svg") no-repeat center;
  width: 23px;
  height: 21px;
  margin-right: 14px;
  background-color: #000000;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .catalog__likes-button::before {
    margin-right: 9px;
    margin-top: 28px;
  }
}
@media (min-width: 1200px) {
  .catalog__likes-button::before {
    background-color: #ffffff;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .catalog__likes-button {
    grid-area: 2/2/4/3;
    margin: 0;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .catalog__likes-button {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__likes {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}
@media (min-width: 1200px) {
  .catalog__likes {
    color: #ffffff;
  }
}

.presentaion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .presentaion {
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .presentaion {
    padding-bottom: 48px;
  }
}

.presentaion__title {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .presentaion__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 0.86;
  }
}

.presentaion__description {
  margin: 0;
  margin-bottom: 38px;
  padding: 0 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.presentaion__description br {
  display: none;
}
@media (min-width: 768px) {
  .presentaion__description {
    margin-bottom: 66px;
  }
  .presentaion__description br {
    display: block;
  }
}
@media (min-width: 1200px) {
  .presentaion__description {
    margin-bottom: 64px;
  }
}

.review {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .review {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .review {
    padding: 0 160px;
  }
}

.review__title {
  margin: 0;
  margin-top: 36px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .review__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 0.86;
  }
}

.review__description {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.review__description br {
  display: none;
}
@media (min-width: 768px) {
  .review__description {
    margin-bottom: 102px;
    line-height: 1.7;
  }
  .review__description br {
    display: block;
  }
}
@media (min-width: 1200px) {
  .review__description {
    margin-bottom: 67px;
  }
}

.copyright__text {
  margin-right: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: #000000;
}

.copyright__icon {
  display: block;
  color: #000000;
}

.copyright {
  text-decoration: none;
}
.copyright:hover .copyright__text, .copyright:hover .copyright__icon {
  color: #81b3d2;
}
.copyright:active .copyright__text, .copyright:active .copyright__icon {
  color: #b3b3b3;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 88px;
  }
}
@media (min-width: 1200px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 128px;
  }
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

@media (min-width: 768px) {
  .impression,
.attraction,
.emotions {
    grid-column: 1/-1;
  }
}

.introduce {
  position: relative;
  padding-bottom: 39px;
}
@media (min-width: 768px) {
  .introduce {
    padding-bottom: 48px;
  }
  .introduce::after {
    content: "";
    position: absolute;
    bottom: 48px;
    right: -43px;
    width: 1px;
    height: 100%;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .introduce {
    padding-bottom: 56px;
  }
  .introduce::after {
    content: "";
    position: absolute;
    bottom: 56px;
    right: -63px;
    width: 1px;
    height: 100%;
    background-color: #dbdbdb;
  }
}

.contact-information {
  padding-bottom: 34px;
}

.impression {
  padding-bottom: 24px;
  position: relative;
}
@media (min-width: 768px) {
  .impression {
    padding-bottom: 48px;
  }
  .impression::before {
    content: "";
    position: absolute;
    top: -40.5px;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
  .impression::after {
    content: "";
    position: absolute;
    top: -40.5px;
    right: 0;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .impression {
    padding-bottom: 56px;
  }
  .impression::before {
    content: "";
    position: absolute;
    top: -40.5px;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }
  .impression::after {
    content: "";
    position: absolute;
    top: -40.5px;
    right: 0;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }
}

.attraction {
  position: relative;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .attraction {
    padding-bottom: 42px;
  }
  .attraction::before {
    content: "";
    position: absolute;
    top: -54px;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
  .attraction::after {
    content: "";
    position: absolute;
    top: -54px;
    right: 0;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .attraction {
    padding-bottom: 56px;
  }
  .attraction::before {
    content: "";
    position: absolute;
    top: -54px;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }
  .attraction::after {
    content: "";
    position: absolute;
    top: -54px;
    right: 0;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }
}

.emotions {
  position: relative;
  padding-bottom: 56px;
}
@media (min-width: 768px) {
  .emotions {
    padding-bottom: 48px;
  }
  .emotions::before {
    content: "";
    position: absolute;
    top: -40.5px;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
  .emotions::after {
    content: "";
    position: absolute;
    top: -40.5px;
    right: 0;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .emotions::before {
    content: "";
    position: absolute;
    top: -40.5px;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }
  .emotions::after {
    content: "";
    position: absolute;
    top: -40.5px;
    right: 0;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }
}

.form__legend {
  position: relative;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.form__legend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 320px;
  border-top: 1px solid #e5e5e5;
  transform: translate(-50%, 0);
}
@media (min-width: 768px) {
  .form__legend::before {
    content: none;
  }
}
@media (min-width: 768px) {
  .form__legend {
    padding: 0;
    padding-bottom: 28px;
    font-size: 21px;
    line-height: 1.23;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 16px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  background-color: #f2f2f2;
  border: 4px solid transparent;
  outline: none;
}
.form__textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__textarea:hover {
  background-color: #e5e5e5;
}
.form__textarea:active, .form__textarea:focus-visible {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
}

.form__button {
  padding: 16px 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}

.form__text {
  margin: 0;
  margin-bottom: 24px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  color: rgba(51, 51, 51, 0.6);
}
@media (min-width: 768px) {
  .form__text {
    margin: 0;
    align-self: center;
  }
}

.client-info-list__item:not(:last-child) {
  margin-bottom: 16px;
}

.client-info-list__control {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.client-info-list__control--phone::after {
  content: "";
  background: #e6e6e6 url("../img/phone.svg") no-repeat center;
  width: 58px;
  height: 58px;
  padding: 0;
  border: none;
}

.client-info-list__control--mail::after {
  content: "";
  background: #e6e6e6 url("../img/letter.svg") no-repeat center;
  width: 58px;
  height: 58px;
  padding: 0;
  border: none;
}

.client-info-list__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}

.client-info-list__input {
  box-sizing: border-box;
  grid-column: 1/2;
  padding: 16px;
  padding-right: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
}

.reasons {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 23px 18px 46px;
  row-gap: 25px;
  list-style-type: none;
  color: #000000;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/-1;
    padding: 0;
  }
}

.reasons__item {
  display: grid;
  grid-template-columns: 47px 1fr;
}
@media (min-width: 768px) {
  .reasons__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

.reasons__item--housing {
  background: url("../../img/hotels.svg") no-repeat left 0;
}
@media (min-width: 768px) {
  .reasons__item--housing {
    padding: 158px 33px 60px;
    background-size: 77px 72px;
    background-position: center 60px;
  }
}
@media (min-width: 1200px) {
  .reasons__item--housing {
    padding: 169px 50px 69px;
    background-size: 79px 72px;
    background-position: center 69px;
  }
}

.reasons__item--food {
  background: url("../../img/food.svg") no-repeat left 0;
}
@media (min-width: 768px) {
  .reasons__item--food {
    padding: 156px 33px 61px;
    background-size: 80px 68px;
    background-position: center 62px;
  }
}
@media (min-width: 1200px) {
  .reasons__item--food {
    padding: 166px 50px 71px;
    background-size: 73px 68px;
    background-position: center 72px;
  }
}

.reasons__item--souvenir {
  background: url("../../img/souvenirs.svg") no-repeat left 0;
}
@media (min-width: 768px) {
  .reasons__item--souvenir {
    padding: 153px 33px 64px;
    background-size: 66px 75px;
    background-position: center 64px;
  }
}
@media (min-width: 1200px) {
  .reasons__item--souvenir {
    padding: 170px 50px 67px;
    background-size: 77px 75px;
    background-position: center 69px;
  }
}

.reasons__card-title {
  grid-column: 2/3;
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  text-transform: uppercase;
}

.reasons__card-description {
  grid-column: 2/3;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}
.reasons__card-description br {
  display: none;
}
@media (min-width: 768px) {
  .reasons__card-description {
    text-align: center;
  }
  .reasons__card-description br {
    display: block;
  }
}

.welcome {
  padding-top: 90px;
}

.welcome__image {
  display: block;
  margin: 0 auto;
  max-width: 460px;
}

.video {
  position: relative;
}

.video__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.video__button::before {
  content: "";
  width: 48px;
  height: 54px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-clip-path: polygon(0 100%, 100% 50%, 0 0);
          clip-path: polygon(0 100%, 100% 50%, 0 0);
}

.video__container {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .review-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .review-list {
    display: flex;
    justify-content: space-around;
  }
}

.review-list__item:not(:last-child) {
  margin-bottom: 16px;
}

.review-list__control {
  display: grid;
  position: relative;
  grid-template-columns: min-content 1fr;
}

.review-list__text {
  grid-column: 2/3;
  padding: 10px 0;
  margin-left: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
}

.review-list__control-mark {
  display: flex;
  grid-area: 1/1/2/2;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.review-list__control-mark:hover {
  background-color: #e5e5e5;
}
.review-list__control-mark:active {
  background-color: #d5d5d5;
}

.review-list__control-mark--checkbox {
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.review-list__input[type=radio]:checked + .review-list__control-mark::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333333;
}

.review-list__input[type=checkbox]:checked + .review-list__control-mark--checkbox::after {
  content: "";
  width: 22px;
  height: 16px;
  background: url("../img/check.svg") no-repeat center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.social__link:hover {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__link:active .social__icon {
  opacity: 0.3;
}

.map iframe {
  display: block;
  border: none;
}
/*# sourceMappingURL=style.css.map */